<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form>
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <div class="form-label-group">
        <input
          class="form-control"
          placeholder="sss"
        >
        <div class="fa fa-spinner fa-spin loader"></div>
        <label>sdfs</label>
        <div class="invalid-feedback">
          <span> is required</span>
          <span>Invalid email address</span>

        </div>

        <div class="invalid-feedback d-block">
          <span>Email address is in use</span>
        </div>
      </div>
      <div class="form-label-group">
        <input
          class="form-control"
          placeholder="sss"
        >
        <div class="fa fa-spinner fa-spin loader"></div>
        <label>sdfs</label>
        <div class="invalid-feedback">
          <span> is required</span>
          <span>Invalid email address</span>

        </div>

        <div class="invalid-feedback d-block">
          <span>Email address is in use</span>
        </div>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>
